html {
	background: white;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}

*, *:after, *:before {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  max-width: 25ch;
}

.input {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 320px;
}

@media (min-width: 800px) {
  .input {
    width: 400px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    flex: 1;
  }
}

.panel-wrapper {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 10px;
  position: relative;
  display: flex;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
}

.panel-wrapper:focus-within,
.panel-wrapper:hover {
  background: rgba(0,0,0,0.05);
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: none;
  margin: 0;
  position: absolute;
  color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.panel-content {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  padding: 15px;
  display: flex;
}

.panel-vertical {
  flex-direction: column;
}

.no-events {
  pointer-events: none;
}

.panel-circle {
  width: 40px;
  height: 40px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.05);
  border-radius: 999px;
}

.panel-text {
  flex: 1;
}

.panel-title {
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}

.panel-desc {
  user-select: none;
  -webkit-user-select: none;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0,0,0,0.5);
}

.checkbox-wrapper {
  width: 60px;
  height: 40px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.05);
  border-radius: 999px;
  position: relative;
  overflow: hidden;
}

input[type="checkbox"] {
  outline: none;
  opacity: 0;
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-thumb {
  position: absolute;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 999px;
  flex: none;
  left: 2px;
  transition: left 0.3s ease;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-wrapper {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.05);
  border-radius: 999px;
  position: relative;
  padding: 0 2px;
  overflow: hidden;
  margin-top: 10px;
}

input:checked + .checkbox-thumb{
  left: 22px;
}

.vax-icon-on,
.vax-icon-off {
  position: absolute;
  transition: all 0.3s ease;
}

input + .checkbox-thumb .vax-icon-on {
  opacity: 0;
}

input:checked + .checkbox-thumb .vax-icon-on {
  opacity: 1;
}

input + .checkbox-thumb .vax-icon-off {
  opacity: 1;
}

input:checked + .checkbox-thumb .vax-icon-off {
  opacity: 0;
}

input[type="radio"] {
  outline: none;
  border: 1px solid blue;
  width: calc((100% - 2px)/4);
  height: 40px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.radio-thumb {
  position: absolute;
  height: 36px;
  background: white;
  border-radius: 999px;
  flex: none;
  left: 2px;
  transition: left 0.3s ease;
  z-index: 1;
  box-shadow: 0 2px 8px 0px rgba(0,0,0,0.1);
}

.radio-four {
  width: calc((100% - 2px)/4);
}

input:nth-of-type(2):checked ~ .radio-four{
  left: calc((100% - 2px)/4);
}
input:nth-of-type(3):checked ~ .radio-four{
  left: calc((100% - 2px)/4*2);
}
input:nth-of-type(4):checked ~ .radio-four{
  left: calc((100% - 2px)/4*3);
}

.radio-three {
  width: calc((100% - 2px)/3);
}
input:nth-of-type(2):checked ~ .radio-three{
  left: calc((100% - 2px)/3);
}
input:nth-of-type(3):checked ~ .radio-three{
  left: calc((100% - 2px)/3*2);
}

.radio-group {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
}

.radio-label {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-size: 14px;
}

svg {
  fill: black;
}

.vax-card {
  display: flex;
  justify-content: space-between;
  background: rgba(43,0,255, 0.1);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  min-height: 50px;
  margin: 0 15px;
}

#vax-panel {
  max-height: 70px;
  transition: max-height 0.3s ease;
}

#vax-panel.vax-on {
  max-height: 120px;
}

.vax-angle {
  fill: #FFDD33;
}

.alert-icon {
  background: black;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-end;
  margin-right: 15px;
}

.alert-dot {
  width: 15px;
  height: 15px;
  border-radius: 999px;
}

.alert-dot-red {
  background: #FF002B;
}

.alert-dot-orange {
  background: #FFAA00;
}

.alert-dot-green {
  background: #59A67F;
}

.alert-dot-off {
  background: rgba(255,255,255,0.3);
}
